body {
    background: white;
}

#detect-page {
    display: table;
    width: 100%;
}

.top {
    display: table-row;
    width: 100%;
}

.bottom {
    display: table-row;
    width: 100%;
}

.guru-header {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.guru-question {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.guru-question form {
    margin-top: 5px;
}