<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guru Detector Feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="/guruDetector/">
          <div class="modal-body feedback">
            {%csrf_token%}
              {% for field in feedback_form %}
                {% if field.name != 'datetime' %}
                  <div class="form-group">
                      <label class="col-form-label">{{field.label}}</label>
                      {{field}}
                  </div>
                {% else %}
                  <div class="form-group">
                    {{field.as_hidden}}
                  </div>
                {% endif %}
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Submit Feedback"/>
          </div>
      </form>
      </div>
    </div>
</div>
