{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'conferenceLoader/question.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div id="detect-page">
    <div id="guru-question" class="container">
        <div class="row">
            <div class="col logo-text text-right align-self-center">
                <h1 class="display-4">Guru</h1>
            </div>
            <div class="col">
                <img src="../../../static/conferenceLoader/images/guru_logo/logo_only_transparent.png" class="img-fluid" alt="GuruDetector for {{team_name}}">
            </div>
            <div class="col logo-text text-left align-self-center">
                <h1 class="display-4">Detector</h1>
            </div>
        </div>
        <div class="row">
            <div id="question-prompt" class="col">
                <h3>What would you like to know about?</h3>
            </div>
        </div>
        <div class="form-inline row justify-content-center">
            <form action="results/" method="post">
                {%csrf_token%}
                {{question_form}}
                <button class="btn btn-danger" type="submit">Detect Gurus</button>
            </form>
        </div>
        <div id="logos" class="row justify-content-center">
            <div class="col-4 align-self-center">
                <img src="../../../static/conferenceLoader/images/sg_digital/sgd_logo_sm.png" class="img-fluid"></img>
            </div>
            <div class="col-4 align-self-center">
                <img src="../../../static/conferenceLoader/images/williamhill/william-hill-white-transparent.png" class="img-fluid">
             </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Want to share Feedback?</button>
        </div>
    </div>
</div>

{% include 'conferenceLoader/feedback_modal.html' %}
